<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <h5 class="alert text-center"><%= message %></h5> 
      </div>
      <% end %>
    </ul>
  </div>
<% end %>
