 <% if notice %>
      <div class="alert alert-success" role="alert">
        <h5 class="notice text-center"><%= notice %></h5>
      </div>
    <% end %>

    <% if alert %>
        <div class="alert alert-danger" role="alert">
          <h5 class="alert text-center"><%= alert %></h5> 
         </div>
    <% end %>